body {
    font-family: 'Space Grotesk', sans-serif;
}

h1{
    font-size: 1.5em;
    text-align: center;
}

header {
    overflow-x: clip;
}

img {
    width: 70%;
}

form {
    margin: 4rem 1rem 0;
}

input {
    width: 100%;
    height: 2rem;
    border: solid 0.5px lightgray;
    border-radius: 8px;
    cursor: pointer;
}

button {
    background-color: hsl(278, 68%, 11%);
    color: white;
    width: 100%;
    padding: 1rem 0;
    font-family: 'Space Grotesk', sans-serif;
    font-size: 1.2rem;
}

.mobile {
    /*Add an image here */
    background-image: url('images/bg-main-mobile.png');
}


.card-back {
    position: relative;
    left: 22dvw;
    top: 14dvh;
    align-items: center;
    display: flex;
}

.card-back:hover {
    z-index: 2;
    opacity: .9;
}

.circle {
    width: 22%;
    margin-top: 0.25rem;
    position: absolute;
    transform: translate(10%, -10%);
    top: -0.5rem;
}


.card-div {
    left: 1dvw;
    /* top: 34dvh; */
    position: absolute;
    display: inline;
    justify-content: space-between;
    width: 65%;
}

.card-front {
    left: 1.4dvw;
    top: 5dvh;
    position: relative;
    display: flex;
    align-items: center;
}

.card-front:hover {
    opacity: .9;
}

.card-number-div {
    display: flex;
    justify-content: center;
}

.card-number {
    position: absolute;
    color: white;
    text-align: center;
    padding-top: 2.55rem;
    transform: translate(0%, 10%);
}

.card-name {
    z-index: 1;
    right: 34dvw;
    color: white;
}

.errorName,
.errorDate,
.errorCV,
.errorCard,
.errorCard2 {
    color: red;
    display: none;
}

.cvc {
    color: white;
    right: 5em;
    position: relative;
}

.name-date {
    display: flex;
    flex-direction: column;
    padding-top: 3rem;
    transform: translate(0%, 20%);
    text-transform: uppercase;
}

.name-date p {
    display: flex;
    justify-content: space-around;
    color: white;
    font-size: 0.8em;
    font-weight: 300;
}

.date-cv {
    display: flex;

}

.cvv-container {
    width: 40%;
}


.date {
    width: 40%;
}

.date::-webkit-inner-spin-button,
.date::-webkit-outer-spin-button {
    display: none;
}

.success {
    display: none;
    margin: 4rem 1rem 0;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.sub-success {
    color: grey;
    font-size: 1rem;
}

.success img {
    width: 14%;
}

.success-btn {
    padding: .5rem;
    border-radius: 8px;
}

.attribution {
    text-align: center;
    font-size: 12px;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

.attribution a:hover {
    color: pink;
}


@media(min-width: 650px) {
    header {
        height: 68dvh;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 68%;
    }

    form {
        width: 60%;
        margin: 0rem 1rem;
    }

    img {
        width: 75%;
    }

    .desktop {
        background-image: url('images/bg-main-desktop.png');
    }

    .body-sec {
        display: flex;
        align-items: center;
        height: 86dvh;
        justify-content: center;
    }

    .card-front {
        position: static;
        justify-content: center;
    }

    .card-div {
        width: 34%;
        left: auto;
    }

    .card-back {
        justify-content: center;
        top: 0;
        left: 0;
    }

    .cvv-container {
        width: 100%;
        display: inline-block;
    }

    .cvc {
        right: 5.6rem;
        position: absolute;
    }

    .date-cv {
        display: block;
    }

    .date {
        width: 100%;
    }

    .success {
        font-size: 1.5rem;
        width: 40%;
    }

}



@media(min-width: 1000px) {
    header {
        display: block;
        width: auto;
        height: 98dvh;
        overflow: visible;
    }

    img {
        width: 17rem;
    }

    form {
        width: 48%;
        padding: 0 9em 0 12em;
    }

    .body-sec {
        display: flex;
        align-items: center;
        height: 89dvh;
    }

    .card-back {
        top: 23.5em;
        left: 8em;
        position: relative;
        justify-content: normal;
    }

    .cvc {
        right: 2rem;
        position: absolute;
    }

    .card-front {
        top: 4em;
        left: 5em;
        position: relative;
        margin-left: 0;
        justify-content: normal;
    }

    .circle {
        width: 34%;
    }

    .card-number {
        top: 0.5rem;
        width: 115%;
    }

    .card-div {
        display: flex;
        flex-direction: column;
        width: 57%;
        left: 0.75dvw;
        flex-wrap: wrap;
    }

    .name-date {
        width: 160%;
        /* padding: 0 0 1.5rem; */
    }

    .date {
        width: 40%;
    }

    .date-cv {
        display: flex;
    }

    .date-cv p {
        width: 90%;

    }

    .success {
        padding-left: 14rem;
        margin: auto;
    }

}

@media(min-width: 1400px) {
    body {
        font-size: 1.5rem;

    }

    header {
        height: 100dvh;
    }

    img {
        width: 25rem;
    }

    input {
        padding: 1rem;
        font-size: 1.5rem;
    }

    input::placeholder {
        font-size: 1.4rem;
    }

    button {
        font-size: 2rem;
        width: 105%;
    }

    .card-back {
        top: 23em;
        left: 9em;
    }

    .card-front {
        top: 5rem;
        left: 5em;
    }

    .circle {
        top: 1rem;
        margin: 0;
        transform: none;
    }

    .card-number {
        width: 130%;
        top: 3.4rem;
    }

    .name-date {

        margin-top: 4.5rem;
        transform: none;
    }

    .date {
        width: 30%;
    }

    .cvc {
        left: auto;
        right: 3rem;
    }

    .success {
        font-size: 3rem;
    }

    .sub-success {
        font-size: 2rem;
    }

    .success img {
        width: 26%;
    }


    .attribution {
        font-size: 1.5rem;
    }

}

@media(min-width: 2000px) {
    body {
        font-size: 2rem;
    }

    img {
        width: 43rem;
    }

    input::placeholder {
        font-size: 2rem;
    }

    .circle {
        top: 0.5rem;
    }

    .card-back {
        top: 29em;
    }

    .card-front {
        top: 4em;
    }

    .card-number {
        top: 7rem;
    }

    .name-date {
        width: 165%;
        padding: 9rem 0 0;
    }

    .cvc {
        right: 5rem
    }

    .success {
        font-size: 5rem;
    }

    .sub-success {
        font-size: 3.5rem;
    }

    .success-btn {
        padding: 2rem;
        font-size: 4rem;
    }
}